- @messages.includes(:user).each do |message|
  .group__message--name
    = message.user.name
  .group__message--time
    = message.created_at
  .group__message--text
    = message.body
  .group__message--image
    - if message.image?
      = image_tag message.image.url
