.sidebar
  .sidebar__header
    %p.name #{current_user.name}
    =link_to edit_user_path(current_user) do
      %p.fa.fa-gear
    =link_to new_group_path do
      %p.fa.fa-edit
  .sidebar__group
    .groupName  グループ名
    .groupText グループ説明
