.sidebar
  .sidebar__header
    %p.name #{current_user.name}
    =link_to "/users/#{current_user.id}/edit" do
      %p.fa.fa-gear
    =link_to "" do
      %p.fa.fa-edit
  .sidebar__group
    .groupName  グループ名
    .groupText グループ説明
