.group {
  @include clearfix();
  float: left;
  width: calc(100vw - 300px);
  &__header {
    padding: 0 40px;
    height: 100px;
    border-color: #eeeeee;
    width: calc(100vw - 380px);
    &--name {
      float: left;
      padding-top: 35px;
      font-size: 20px;
      color: #333333;
    }
    &--editButton {
      float: right;
      border: 1px solid #38AEF0;
      color: #38AEF0;
      padding: 0 20px;
      margin-top: 28px;
      line-height: 40px;
      vertical-align: middle;
    }
    &--overview {
      clear: both;
      padding-top: 10px;
      font-size: 12px;
      color: #999999;
    }
  }
  &__message {
    height: calc(100vh - 236px);
    padding: 46px 40px 0;
    background-color: #fafafa;
    width: calc(100vw - 380px);
    position: absolute;
    top: 100px;
    overflow: scroll;
    &--name {
      float: left;
      font-size: 16px;
      font-weight: bold;
      margin-right: 10px;
      color: #434A54;
    }
    &--time {
      float: left;
      font-size: 12px;
      color: #999999;
    }
    &--text {
      padding-top: 10px;
      font-size: 14px;
      clear: both;
      color: #434A54;
    }
    &--image {
      padding-bottom: 40px;
    }
  }
  &__form {
    @include clearfix();
    height: $form-height;
    width: calc(100vw - 380px);
    background-color: #dcdcdc;
    padding: 20px 40px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    .text_field {
      float: left;
      height: $form-height;
      width: calc(100vw - 540px);
      border: none;
      background-color: #FFFFFF;
      padding-left: 10px;
    }
    .fa.fa-picture-o {
      float: left;
      height: $form-height;
      padding-right: 10px;
      color: black;
      background-color: #FFFFFF;
      line-height: $form-height;
      vertical-align: middle;
    }
    .send_button {
      float: right;
      height: $form-height;
      width: 100px;
      color: #FFFFFF;
      background-color: #38AEF0;
      margin-left: 15px;
      line-height: $form-height;
      vertical-align: middle;
      text-align: center;
    }
  }
}
